<% if(access) { %>
    <div id="reset-heading">
        <h1>Reset Password </h1>
    </div>
    <div id="container">

        <div id="reset-container">

            <form action="/users/updatePassword/<%= accessToken %>" method="post">

                <div>
                    <input type="password" name="newPass" id="newPass" placeholder="Password" required>
                </div>
                
                <div>
                    <input type="password" name="confirmPass" id="confirmPass" placeholder="Confirm password" required>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
                
            </form>
        </div>

    </div>

<%}else{%>
    
    <div id="reset-heading">
        <h3>Forgot Password? Dont worry enter your registered email</h3>
    </div>

    <div id="container">

        <div id="email-container">
            <form action="/users/sendEmail" method="post">
                <div>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>

    </div>

<% } %>    

