<div id="register-heading"> 
    <h1>Register Yourself</h1>
</div>

<section id="container">
    <div id="register-container">
        <form action="/users/createUser" method="post">
    
            <div>
                <input type="text" name="name" id="name" placeholder="Name" required>
            </div>

            <div>
                <input type="email" name="email" id="email" placeholder="Email" required>
            </div>

            <div>
               <input type="password" name="password" id="password" placeholder="Password" required>
            </div>

            <div>
               <input type="password" name="confirm_password" id="password2" placeholder="Confirm password" required>
            </div>

            <button type="submit">Register</button>

        </form>

        <div class="form-link">
            <span><a href="/users/login">Already Registered? Sign In</a></span> 
         </div>
    </div>
    
</section>
