<div>
    <p>Hi <%= user.name %> !</p>
    <br>
    <p>
        Use this link to reset your Password
        <a href="http://localhost:8000/users/resetPassword/<%= user.accessToken %>">Click Here</a>
    </p>
</div>