#reset-heading{
    color: white;
    text-align: center;
    background-color: #0171d3;
}
#email-container{
    position: absolute;
    max-width: 450px;
    width: 100%;
    padding: 30px;
    border-radius: 1rem;
    background: #FFF;
    margin-top: 30px;
}
#email-container input,#email-container button{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
}
#email-container input{
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
    border-bottom-width: 2px;
}
#email-container button{
    border: none;
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: large;
    font-weight:600;
}

#reset-container{
    position: absolute;
    max-width: 450px;
    width: 100%;
    padding: 30px;
    border-radius: 1rem;
    background: #FFF;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
#reset-container input,#reset-container button{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
}
#reset-container input{
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
    border-bottom-width: 2px;
}
#reset-container button{
    border: none;
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: large;
    font-weight:600;
}
